<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960812641907-50u7p759f2c82n2r9sg1d6l4oqvo65ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960812641907-50u7p759f2c82n2r9sg1d6l4oqvo65ib</string>
	<key>API_KEY</key>
	<string>AIzaSyBbPb_mvuIhrUzPVjIq2K6fJklWXz2UV4s</string>
	<key>GCM_SENDER_ID</key>
	<string>960812641907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickHella.Homepwner</string>
	<key>PROJECT_ID</key>
	<string>swiftcarrepo</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcarrepo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960812641907:ios:73328a56a57de222b70406</string>
	<key>DATABASE_URL</key>
	<string>https://swiftcarrepo.firebaseio.com</string>
</dict>
</plist>